.main
{
    padding-top: 2%;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #00000045;
}

.columna-poster
{
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.contenedor-imagen
{
    width: 40vh;
    height: 60vh;
    border-radius: 5%;
}

.imagen-poster
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.datos-pelicula
{
    margin-top: 2vh;
    height: auto;
    width: 30vh;
    color: #ffffff;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: large;
    text-align: center;
    color: rgb(255, 217, 0);
}

.columna-trailer
{
    height: 80vh;
    width: 45vw;
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 
.contenedor-trailer{
    width: auto;
    height: auto;
    border-radius: 5%;
}

.trailer
{
    width: 35vw;
    min-width: 300px;
    /* width: 560px;  */
    height: 315px;
    aspect-ratio: 2/3;
}

.sinopsis-pelicula
{
    color: #ffffff;
    font-weight: bolder;
    text-align: justify;
    margin-top: 2vh;
    height: auto;
    width: 35vw;
    min-width: 300px;
    padding: 2%;
    padding-left: 0;
    padding-right: 0;
}

.section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
}

.section-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
    padding: 2%;
    border-top: solid 1px rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
    border-radius: 10%;
}

.boton-funcion
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    width: 25vw;
    max-width: 250px;
    min-width: 100px;
    height: auto;
    border: solid 1px #ffffff;
    border-radius: 15%;
    background-color: rgb(6, 14, 33);
    padding: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 10px;
}

.boton-funcion:hover
{
    box-shadow: 1px  5px 10px whitesmoke;
    transform: scale(1.05);
    transition: 0.3s;
    font-weight: bold;
}

.renglon-modal
{
    padding-bottom: 2%;
}

.formulario{
    width: 100%;
    height: auto;
}

.item-formulario{
    margin-top: 0.5vh;
    border-radius: 10%;
    color: aliceblue;
    border: none;
    padding: 1vh;
}

.campo-formulario{
    background-color: #000000;
    border-bottom: solid;
    margin-right: 2vw;
    height: auto;
}

.dark
{
    background-color: rgb(6, 14, 33);
}

