.footer{
    margin-top: 10vh;
    position: static;
    bottom: 0;
    padding: 2%;
    width: 100vw;
    min-height: 20vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0f8ff;
    background-color: #011c1c;
}

.footer-div
{
    width: 80vw;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#github{
    fill: white;
    transform: scale(2);
    min-width: 24px;
}

#github:hover{
    fill: red;
    transform: scale(3);
    transition: 0.3s;
}

.footer-enlace
{
    padding-left: 1%;
    width: auto;
    color: #f0f8ff;
    text-decoration: none;
}

.footer-enlace:hover{
    color: red;
    transform: scale(1.05);
    transition: 0.3s;
}




