*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #000000;
}

.header
{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffdd;
    background-color: #000000;
    width: 100vw;
    height: 30vh;
    user-select: none;
}

.header-img_fondo
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-img_logo{
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 5vh;
    left: 12vw;
    border-radius: 50%;
    opacity: 0.4;
    user-select: none;
}


.h1 { 
    position: absolute;
    color: #be2727;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.h1:hover{
    color: #f03434;
    font-weight: bold;
    transition: 0.6s;
}

.nav{
    width: 100vw;
    height: 5vh;
    background-color: #000000;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #531b1b;
}

.nav-ul{
    list-style-type: none;
    display: flex;
}

.nav-li{
    padding: 5px;
}


.nav-li a {
    text-decoration: none;
    color: #ffffffcd;
}

#icon-youtube{
    margin-right: 2vw;
}


a:hover
{
    color: red;
    transition: 0.6s;
}