.main{
    width: 100vw;
    min-height: 40vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.renglon-fitros{
    width: 80vw;
    height: auto;
    padding: 1vh;
    display: flex;
    padding: 0;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
}

.formulario{
    width: 100%;
    height: auto;
}

.item-formulario{
    margin-top: 0.5vh;
    border-radius: 10%;
    color: #f0f8ff;
    border: none;
    padding: 1vh;
}

.campo-formulario{
    background-color: #000000;
    border-bottom: solid;
    margin-right: 2vw;
    height: auto;
}

.boton
{
    margin-right: 1%;
}

.boton:hover{
    transform: scale(1.15);
    transition: 0.3s;
}

.renglon-cartas{
    min-height: 50vh;
    height: auto;
    width: 80vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
}

.contenedor-carta{
    border-radius: 4%;
    height: 450px;
    width: 240px;
    margin: 2%;
    margin-top: 4vh;
    overflow: hidden;
}

.contenedor-carta:hover{
    box-shadow: 1px  5px 10px whitesmoke;
    transform: scale(1.05);
    transition: 0.3s;
}

.poster-carta{
    height: 80%;
    width: 100%;
    object-fit: cover
}

.descripcion-carta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 14, 33);
    color: #ffffff;
    height: 20%;
    width: 100%;
    padding: 5%;
}

.h2 {
    width: 100%;
    font-size: x-large;
    text-align: center;
}

.contenedor-sticker
{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10%;
}

.img-main{
    aspect-ratio: 1;
    user-select: none;
    width:10vw;
    min-width: 250px;
    z-index: -1;
}