*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #000000;
}

.header
{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffdd;
    background-color: #000000;
    width: 100vw;
    height: 30vh;
    user-select: none;
}

.header-img_fondo
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.h1 { 
    position: absolute;
    color: #be2727;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.h1:hover{
    color: #f03434;
    font-weight: bold;
    transition: 0.6s;
}

.nav{
    width: 100vw;
    height: 5vh;
    background-color: #000000;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #531b1b;
}

.nav-ul{
    list-style-type: none;
    display: flex;
}

.nav-li{
    padding: 5px;
}


.nav-li a {
    text-decoration: none;
    color: #ffffffcd;
}

#icon-youtube{
    margin-right: 2vw;
}

a:hover
{
    color: red;
    transition: 0.6s;
}

.main
{
    padding-top: 2%;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #00000045;
}

.columna-poster
{
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.contenedor-imagen
{
    width: 40vh;
    height: 60vh;
    border-radius: 5%;
}

.imagen-poster
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.datos-pelicula
{
    margin-top: 2vh;
    height: auto;
    width: 30vh;
    color: #ffffff;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: large;
    text-align: center;
    color: rgb(255, 217, 0);
}

.columna-trailer
{
    height: 100%;
    width: 45vw;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
}
 
.contenedor-trailer{
    width: auto;
    height: auto;
    border-radius: 5%;
}

.trailer
{
    width: 560px; 
    height: 315px;
}

.sinopsis-pelicula
{
    color: #ffffff;
    font-weight: bolder;
    text-align: justify;
    margin-top: 2vh;
    height: auto;
    width: 100%;
    padding: 2%;
    padding-left: 0;
    border-radius: 5%;
}

.boton-funciones{
    margin-top: 2vh;
    background-color: rgb(46, 192, 143);
    padding: 1.5vh;
    color: white;
    border-radius: 20%;
    border: none;
}

.boton-funciones:hover{
    color: black;
    background-color: rgb(40, 231, 167);
    padding: 2vh;
    transition: 0.6s;
}


.footer{
    margin-top: 10vh;
    position: static;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    background-color: #011c1c;
}