*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffdd;
    width: 100vw;
    height: 30vh;
}

.header-img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-img_logo{
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 5vh;
    left: 12vw;
    border-radius: 50%;
    opacity: 0.4;
}

.header-texto
{
    position: absolute;
}